@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #009d5b;
  --main-text: #151515;
  --gray: #9c9c9c;
  --white: #ffffff;
  --pink-accent: #d06cff;
  --blue-accent: #6c9eff;
  --green-accent: #43d195;
  --yellow-accent: #ffcd6c;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 1.5rem;
}
.embla__container > * {
  flex-shrink: 0;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
